<a href="https://colab.research.google.com/github/yangwon1323/python/blob/main/%EA%B3%BC%EC%A0%9C11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
mylist = [0,1,2,3]

mylist[0] = input("숫자 : ")
mylist[1] = input("숫자 : ")
mylist[2] = input("숫자 : ")
mylist[3] = input("숫자 : ")

sum = int(mylist[0]) + int(mylist[1]) + int(mylist[2]) + int(mylist[3])

print(sum)

숫자 : 1
숫자 : 2
숫자 : 3
숫자 : 4
10

In [10]:
mylist = []

mylist.append("안산")
mylist.append("안공")
mylist.append(3100)
mylist.append(777)

print(mylist)

['안산', '안공', 3100, 777]

In [26]:
import random
wisesay = ["중꺽마","피할 수 없으면 즐겨라","네 자신을 알라","신은 용기있는 자를 결코 버리지 않는다","내일은 내일의 태양이 뜬다 "]

rnd_say = wisesay[(random.randint(0,4))]

print(rnd_say)

내일은 내일의 태양이 뜬다

In [29]:
import random
wisesay = ["중꺽마","피할 수 없으면 즐겨라","네 자신을 알라","신은 용기있는 자를 결코 버리지 않는다","내일은 내일의 태양이 뜬다 "]


rnd = random.randint(0,len(wisesay)-1)
rnd_say = wisesay[(random.randint(0,4))]

print(rnd_say)

내일은 내일의 태양이 뜬다

In [37]:
import datetime

now = datetime.date.today()
Birthday = datetime.date(2005,1,28)
age = now - Birthday
print(age.days/365)

18.208219178082192